html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: lightgrey;
}

.outer-content {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle-content {
	display: table-cell;
	vertical-align: middle;
}

.inner-content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.segment {
	height: 100%;
	width: 100%;
}