html, body {
	height: 100%;
	width: 100%;
	/*background-image: url(../img/flower2.jpg);*/
	background-position: 10% 0;
}

.name {
	position: relative;
	z-index: 2;
	font-family: 'Pacifico', cursive;
	font-size: 5vw;
	color: #6f3466;
}

.arrow {
	padding: 10px;
	border-radius: 15px; 
	background-color:rgba(249, 216, 207, 0.9);
    position: absolute;
    bottom: 20px;
    left: 0; 
  	right: 0; 
  	margin-left: auto; 
  	margin-right: 5%; 
  	z-index: 2;
}

.outer-content {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	/*background-color: rgba(250, 242, 240, 0.8);*/
}

.middle-content {
	display: table-cell;
	vertical-align: middle;
}

.inner-content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.segment {
	/*background-image: url(../img/flower.jpg);
	box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset; */

	background-color: rgba(250, 242, 240, 1);
	background-size: 100%;
	position: relative;
	height: 100%;
	width: 100%;
	/*margin-bottom: 500px;*/
	overflow: hidden;
}

.segment-space {
	background-color: rgba(250, 242, 240, 1);
	background-size: 100%;
	position: relative;
	height: 60%;
	width: 100%;
	/*margin-bottom: 500px;*/
	overflow: hidden;
}

.img-responsive {
	display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.line-separator {
	padding-top:20px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
}

.segment-title {
	color: #6f3466;
	font-size: 50px;
	margin-bottom: 30px;
	font-family: 'Lobster', cursive;
}

.segment-body {
	font-family: 'Open Sans', sans-serif;
}

.form-container {
	width: 60%;
	margin: 0 auto;
}

#nameError {
	color: red;
	text-align: left!important;
	display: none;
}

#nameError2 {
	color: red;
	text-align: left!important;
	display: none;
}

#prayError {
	color: red;
	text-align: left!important;
	display: none;
}

#placeError {
	color: red;
	display: none;
}

#notes {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.thanks {
	font-size: 100px;
	margin-bottom: 0;
}

label {
	text-overflow: ellipsis;
}

.details-container {
	height: 450px;
	/*width: 700px;*/
	max-width: 700px;
	margin: 10px auto;
	/*border: 8px solid #f7e7e3;
	border-radius: 15px;
	background-color: rgba(249, 216, 207, 1);*/
	padding: 5px;
}

.details-title {
	font-family: 'Lobster', cursive;
	color: #6f3466;
	font-size: 28px;
	margin-bottom: 20px;
}

.details-highlight {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
}

.details-detail {
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
}

.small-title {
	margin-bottom: 0px;
	font-size: 26px;
}

#thanks {
	margin-bottom: 0px;
}

#place-attendance {
	border: 2px solid #f7e7e3;
	border-radius: 15px;
	background-color: #f9d8cf;
	margin: 0 15%;
	padding: 10px 10px;
}

.flower {
	width: 100%;
	position: absolute;
	z-index: 1;
	margin-top: -50px;
}

.btn-light {
	color: #6f3466;
	font-weight: bold;
	background: rgba(249, 216, 207, 1);
	border: 2px solid #f7e7e3;
}

.btn-light:hover {
	background: rgba(247, 181, 163, 1);
}

.atc-style-blue .atcb-link, .atc-style-blue .atcb-link:active, .atc-style-blue .atcb-link:focus {
	color: #6f3466;
	font-weight: bold;
	background: rgba(249, 216, 207, 1);
	box-shadow: none;
	border: 2px solid #f7e7e3;
}

.atc-style-blue .atcb-link:hover {
	background: rgba(247, 181, 163, 1);
}

.rotate-image {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.mirror-horizontal {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.top-name-margin {
	margin-top: 80px;
}

#detail1 {
	/*border-top: 1px black double;*/
}

.alertify .dialog>* {
	/*custom alertify alert box style*/

}

#mirrored-top-flower {
	width: 100%;
}

#mirrored-top-flower-container {
	right: 0;
}

/* For any viewports less than 1000px wide */
@media (max-width: 1000px) {
	.flower {
		margin-top: 0px;
	}

    .segment {
        background-size: 1296px 864px; /* Force the image to its minimum width */
    }
    .name {
    	font-size: 7vw;
    }

    .top-name-margin {
    	margin-top: 0px;
    }
}

/* For any viewports less than 768px wide */
/*@media (max-width: 768px) {*/
	#detail {
		height: 180%;
		background-size: auto 100%;
	}
/*}*/

/* For any viewports less than 500px wide */
@media (max-width: 500px) {
	.flower {
    	width: 200%;
    	/*overflow: hidden;*/
    }

    #mirrored-top-flower {
		right: 0;
		left: 33%;
	}

    .arrow {
    	width: 42px;
    	height: auto;
    }

    .thanks {
    	font-size: 70px;
    }

    /*.details-container {
    	height: 510px;
    }*/

    html, body {
    	background-position: 26% 0;
    }
}